#contact {
    background-image: $contactGradient, url("../img/footer/world-map.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    header {

        h2 {
            color: $mywhite;
        }

        p {
            color: $mywhite;
        }
    }

    input,
    textarea {
        text-transform: uppercase;
        padding: 15px;
        font-family: $fontMont;
        border-radius: 10px;

        &:not([type='submit']),
        textarea {
            border: 0;
        }

        &[type='submit'] {
            background-color: $mygreen;
            border: 1px solid $mygreen;
            color: $mywhite;
            margin-top: 30px;
            transition: all 0.4s;

            &:hover {
                background-color: $mywhite;
                color: $mygreen;
            }
        }
    }

    .contact-form-column {
        display: flex;
        flex-direction: column;
        height: 220px;
        justify-content: space-between;
    }

    textarea {
        width: 100%;
        height: 100%;
    }
}
