#main-footer {
    padding: 10px;
    background-color: $portfolio;

    p {
        margin: 0;
    }

    .copyrights {
        line-height: 50px;
    }

    .footer-nav {
        line-height: 50px;

        ul {
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
                margin: 0 5px;

                a {
                    color: $myblack;
                    font-family: $fontMont;
                    text-decoration: none;
                    transition: all 0.4s;

                    &:hover {
                        color: $mygreen;
                    }
                }
            }
        }
    }
}