#team {
    .team-bottom {
        margin-bottom: 50px;

        .team-img {
            height: 200px;
            width: 200px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            margin: 0 auto;
        }

        #team-img-1 {
            background-image: url("../img/team/man-1.jpg");
        }

        #team-img-2 {
            background-image: url("../img/team/man-2.jpg");
        }

        #team-img-3 {
            background-image: url("../img/team/woman-1.jpg");
        }
    }
}
