$fontRoboto: 'Roboto Slab', serif;
$fontMont: 'Montserrat', sans-serif;
$fontDroid: 'Droid Serif', sans-serif;
$mygreen: #0ed8d6;
$mydarkgray: #333;
$mylightgray: #777;
$mywhite: #fff;
$myblack: #000;
$portfolio: #f7f7f7;
$portfolioMask: rgba(14, 216, 214, 0.6);
$scrolledNav: rgba(14, 216, 214, 0.6);
$headerGradient: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
$contactGradient: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));