@import "zmienne";
@import "nav";
@import "header";
@import "services";
@import "portfolio";
@import "team";
@import "contact";
@import "footer";

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: $fontRoboto;
    color: $mydarkgray;
}


section {
    padding: 80px 0;

    h3 {
        font-family: $fontMont;
        font-size: 1.2em;
        color: $mydarkgray;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}


.section-header {
    margin-bottom: 70px;

    h2 {
        font-family: $fontMont;
        text-transform: uppercase;
        font-weight: 700;
        color: $mydarkgray;
        margin-bottom: 25px;
    }

    p {
        font-family: $fontDroid;
    }
}


.social-icons {
    .fa {
        display: inline-block;
        width: 50px;
        height: 50px;
        font-size: 1.5em;
        background-color: $myblack;
        color: $mywhite;
        border-radius: 50%;
        margin: auto 5px;
        padding: 13px;
        transition: all 0.3s;

        &:hover {
            background-color: $mygreen;
            color: $mywhite;
            transform: rotate(360deg);
        }
    }
}